Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  -performance-enum-size,
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-member-init,
  -readability-implicit-bool-conversion,
  -modernize-avoid-c-style-cast

WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*'
FormatStyle: file
